
# General
.DS_Store

# Python
.idea/
*/__pycache__/
*.pyc
*/notebooks/

# R
.Rproj.user
*.Rproj
*.Rhistory

# Particular
other/
paper/
practice-sims/

# Tex
*.tex

# Presentations
hai-poster* 
presentations/
posters/
